body {
    font-family: 'Roboto', sans-serif;
}

.container-header {
    width: 100%;
    box-shadow: 10px 2px 10px 0 #a3a3a3;
}

.container-header .section-header {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-header .section-header h1 {
    font-weight: bold;
    font-size: 28px;
    color: #333333;
}

.container-header .section-header ul {
    display: flex;
    gap: 15px;
    padding: 0;
}

.container-header .section-header li button {
    padding: 5px;
    font-size: 16px;
    background-color: #ffff;
    border: 2px solid #ffff;
}

.container-header .section-header li button:hover {
    font-weight: bold;
    transform: scale(1.2);
}

.container-main {
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
}

.container-main ul {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.container-main ul li {
    border: 2px solid #ffff;
}

.container-main ul li:hover {
    border: 2px solid #37268C;
    transform: scale(1.1);
}

.container-main ul li nav {
    max-width: 240px;
    padding: 10px;
    border: 2px solid #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
}

.container-main ul li figure {
    background-color: #F5F5F5;
    width: 100%;
}

.container-main ul li figure img {
    margin: 0 15%;
}

.container-main ul li #p-categoria {
    background-color: #37268C;
    color: #ffff;
    padding: 5px;
}

.container-main ul li h2 {
    font-weight: bold;
    color: #37268C;
}

.container-main ul li h3 {
    font-weight: bold;
    color: #2E245E;
}
.container-main ul li button {
    border: none;
    background-color: #ffff;
    font-size: 16px;
    padding: 0;
}

.container-main ul li button:hover {
    text-decoration: underline;
    color: #37268C;
    font-weight: bold;
}

.container-main aside {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    gap: 25px;
}

.busca {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.busca input {
    background-color: #F5F5F5;
    border: none;
    padding: 10px;
    width: 180px;
    height: 25px;
    border: 2px solid #ffff;
}

.busca input:hover {
    border: 2px solid #37268C;
}

.busca input::placeholder {
    color: #333333;
}

.busca button {
    background-color: #37268C;
    color: #ffff;
    border: none;
    padding: 5px;
    width: 80px;
}

.busca button:hover {
    background-color: #2E245E;
    color: #ffff;
}

.carrinho {
    width: 300px;
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
}

.carrinho header {
    width: 100%;
    background-color: #37268C;
    color: #ffff;
}

.carrinho header h3 {
    text-align: center;
    padding: 20px;
}

.carrinho main {
    margin-top: 10px;
    background-color: #F5F5F5;
}


.main-carrinho {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.main-carrinho h2 {
    margin-top: 50%;
}

.main-carrinho #ul-carrinho {
    width: 280px;
    height: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: flex-start;
    overflow-x: auto;
}

#ul-carrinho li {
    width: 260px;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-content: space-around;
    align-items: center;
    gap: 40px;
    border: none;
}

#ul-carrinho li:hover {
    transform: unset;
}

#ul-carrinho figure {
    width: 90px;
}

#ul-carrinho img {
    height: 80px;
    width: 80px;
    background-color: #ffff;
}

#ul-carrinho li div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

#ul-carrinho li div h3 {
    font-size: 14px;
    font-weight: bold;
    font-size: 16px;
}

#ul-carrinho li div p {
    color: #37268C;
    font-weight: bold;
}

#ul-carrinho li div button {
    background-color: #F5F5F5;
}

/* .carrinho-total {
    background-color: black;
    color: #ffff;
    width: 100%;
    height: 90px;
    padding-top: 20px;
    padding-bottom: 60px;
} */